<loading-spinner *ngIf="showSpinner"></loading-spinner>
<div class="menu">
  <ul class="list-menu">
          <li *ngFor="let item of listMenu" [ngClass] = "(item.id == selectedMenu)? 'selected' : ''" (click) = "clickMenu(item.code,item.id);" (mouseenter) = "hoverMenuItem(item.code)">
              <a>
              <div class="img-container">
                <img src="{{ item.imgUrl }}">
              </div>
              <label>{{ item.title }}</label>
              </a>
              <div *ngIf="item.subMenu" class="submenu-container">
                <div *ngFor="let subMenu of item.subMenu" >
                  <a (click) = "clickMenu(subMenu.code);">
                    <div class="img-container">
                      <img src="{{ subMenu.imgUrl }}">
                    </div>
                    <label>{{ subMenu.title }}</label>
                  </a>
                </div>
              </div>
          </li>
  </ul>
</div>