<div class="container">
    <loading-spinner style="width:8%;" *ngIf="showSpinnerMenu"></loading-spinner>
  <app-menu [listMenu] = "listMenu" [selectedMenu] = "selectedMenu"></app-menu>
  <div class="content">
    <div class="box-wrapper">
        <loading-spinner *ngIf="showSpinner"></loading-spinner>
        <div class="box" *ngIf="!showSpinner">
          <div class="button" (click)="show()">
            show
          </div>
            <div class="formation">
              <button>Đội hình chính</button>
              <button>Đội hình phụ</button>
            </div>
            <div class="formation-wrapper">
              <div class="members">
                <div class="list-member">
                  <ul class="list-members">
                    <li *ngFor="let member of teamMembers" (click) = "choicePlayer(member.user)" [ngClass]="( member.user_id == playerChoiced.id) ? 'clicked' : ''">
                      <div class="logo-container">
                        <img src="{{member.imgRoleUrl}}">
                      </div>
                      <p>{{member.user.Fullname}}</p>
                    </li>
                  </ul>
                </div>
                <div class="slide-wrapper">
                  <div *ngFor = "let member of teamMembers" [ngClass]="['slide',(member.user_id == playerChoiced.id)? 'top': '']" >
                    <div class="img-container">
                        <div class="img-wrapper">
                          <img src="{{ member.user.ImgUrl }}"/>
                        </div>
                      </div>
                      <div class="info">
                        <p>Chức vụ:  <span style="color:red;">{{ member.roleName }}</span></p>
                        <p>Vị trí : {{ member.position.PositionName }}</p>
                        <p *ngIf="playerChoicedAge">Tuổi : {{ playerChoicedAge }}</p>
                        <p>Chiều cao :{{  member.user.Height }} </p>
                        <p>Cân nặng : {{  member.user.Weight }}</p>
                        <p></p>
                      </div>
                  </div>
                </div>
              </div>
            </div>
        </div>
    </div>
  </div>
</div>