  <div class="container">
  <div class="left">
      <h1>CHALLENGER</h1>
    <div class="images">
      <img id='p' src="../../assets/football.png">
      <img id='p1' src="../../assets/h1.png">
      <img id='p2' src="../../assets/h2.png">
      <img id='p3' src="../../assets/h3.png">
      <img id='p4' src="../../assets/h4.png">
    </div>
  </div>
  <div class="right">
    <div class="login-section">
      <h1>Sign In</h1>
      <form action="#" method="POST" id="login">
        <div class="input">
          <input type="text" placeholder="Username" name="username" [(ngModel)] = "model.username">
        </div>
        <div class="input">
            <input type="password" placeholder="Password" name="password" [(ngModel)] = "model.password">
        </div>
        <div class="input">
            <a href="#" id="f-password">forgot your password ?</a>
        </div>
        <div class="input">
          <button type="submit" id="login-btn" (click)="login();">
            <p>LOGIN</p>
          </button>
        </div>
        <div class="input" id="create">
        <a href="#" id="c-account">create an account</a>
        </div>
      </form>
    </div>
  </div>
</div>