<app-menu [listMenu] = "listMenu" [selectedMenu] = "selectedMenu"></app-menu>
<app-header [title]="page_title"></app-header>
<div class="content">
    <loading-spinner *ngIf="spinnerLoading"></loading-spinner>
    <div class="info-section" *ngIf="!spinnerLoading">
      <div class="box">
        <div class="img-box">
          <div class="img-container">
              <img src="{{ player.ImgUrl }}">
          </div>
        </div>
        <div class="content-box">
          <div class="info">
              <p><span>Tên cầu thủ: </span>{{ player.Fullname }}</p>
              <p><span>Vị trí thường đá: </span>{{ player.MainPosition }}  {{ player.ExtraPosition }}</p>
              <p><span>Tuổi: </span>{{ playerAge }}</p>
              <p><span>Chiều cao: </span>{{ player.Height }}</p>
              <p><span>Cân nặng: </span>{{ player.Weight }}</p>
              <p><span>Email: </span>{{ player.Email }}</p>    
          </div>
          </div>
      </div>
    </div>
    <div class="power-section">
      <h2>Các chỉ số cầu thủ: </h2>
      <ul>
        <li [ngClass] = "isMPView ? 'active' : ''" (click) ="changePositionView('MP')"  *ngIf="showMainPosition">{{ mainPosition.PositionName }}</li>
        <li [ngClass] = "!isMPView ? 'active' : ''" (click) ="changePositionView('EP')" *ngIf="showExtraPosition">{{ extraPosition.PositionName }}</li>
      </ul>
      <div class="row">
        <div class="left">
            <div class="line-power" *ngFor = "let power of listPowers">
              <span>{{power.PowerName}}: </span>
              <div class="progressbar">
                  <div class="after" attr.data-percent="{{power.self_point}}"></div>
              </div>
            </div>
        </div>
      </div>  
    </div>
    <div class="team-section">
      <h2>Các đội bóng hiện tham gia: </h2>
      <div class="row" *ngIf = "listTeams.length > 0">
        <div class="img-container" *ngFor = "let team of listTeams" (click)= "viewTeam(team);">
          <img src="{{ team.ImgUrl }}">
        </div>
      </div>
    </div>  
    <div class="description-section">
      <h2>Mô tả: </h2>
      <div class="description">
        {{player.Description}}
      </div>
    </div>
  </div>