<div class="container">
    <app-menu [listMenu] = "listMenu" [selectedMenu] = "selectedMenu"></app-menu>
    <div class="search">
        <div class="search-section">
        <div class="search-input">
            <img src="../../assets/search.png">
            <input type="text" name="name" placeholder="Nhập tên/mã đội cần tìm" [(ngModel)] = "filterPlayer" (keyup)="searchFilter? resetFilter() : '';">
        </div>
        <div class="search-filter">
            <div class="left">
            <div class="form-select">
                <select name="" id="" (change)="changeCity(city.value)" #city>
                <option value="" disabled="disabled" selected="selected">Chọn Tỉnh/Thành phố</option>
                <option value="28">TP.Hồ Chí Minh</option>
                <option value="24">Hà Nội</option>
                </select>
            </div>
            <div class="form-select">
                <select name="" id="ward" #ward>
                <option value="" disabled="disabled" selected="selected">Chọn Quận/Huyện</option>
                <option *ngFor="let ward of listWard">
                    {{ ward }}
                </option>
                </select>
            </div>
            </div>
            <div class="right">
            <div class="form-select">
                <select name="" id="" #age>
                <option value="" disabled="disabled" selected="selected">Chọn độ tuổi trung bình</option>
                <option value="20">15 -> 25</option>
                <option value="30">25 -> 35</option>
                <option value="40">35 -> 45</option>
                <option value="50">45 -> 55</option>
                <option value="60">55 -> 65</option>
                </select>
            </div>
            <button class="search-btn" (click) = "findPlayer(city.value,ward.value,age.value);">Tìm</button>
            </div>
        </div>
        </div>
        <div class="list-player">
            <loading-spinner *ngIf="showSpinner"></loading-spinner>
            <div class="box" *ngFor="let team of listTeamsResult | filter : filterPlayer" (mouseenter)="changeSelection(team);">
                <div class="player-container" (click) = "viewTeam(team);">
                <div class="img-container">
                    <img src="{{ team.ImgUrl }}">
                </div>
                <div class="player-content">
                    <p>{{ team.Fullname }}</p>
                    <span class="{{ team.Status ? 'online' : 'offline' }}">{{ team.Status ? 'Online' : 'Offline' }}</span>
                </div>
                </div>
            </div>
        </div>
    </div>
    <div class="info"  *ngIf="teamFocusing.ImgUrl">
        <div class="player-img-section">
        <div class="img-wrapper">
            <img src="{{ teamFocusing.ImgUrl }}">
        </div>
        </div>
        <div class="player-info-section">
        <div class="row"><p>Tên đội bóng: </p>{{ teamFocusing.Fullname }}</div>
        <div class="row"><p>Mã đội: </p>{{ teamFocusing.TeamCode }}</div>
        <div class="row"><p>Tỉnh/Thành phố: </p>{{ teamCity }}</div>
        <div class="row"><p>Quận/Huyện: </p>{{ teamFocusing.Ward }}</div>
        <div class="row"><p>Điểm: </p>{{ teamFocusing.TotalScore }}</div>
        <div class="row">
        <p>Mô tả</p>
        <button (click)="test()">Click me</button>
        </div>
        </div>
    </div>
</div>    