<div class="container">
  <app-menu [listMenu] = "listMenu" [selectedMenu] = "selectedMenu"></app-menu>
  <div class="overlay">
    <div class="box">
      <img src="../../assets/swords.png">
      <p>Thách Đấu</p>
    </div>
  </div>
  
  <div class="content">
      <div class="left">
        <div class="logo">
          <div class="img-container">
            <img src="../../assets/logo04.png">
          </div>      
        </div>
        <div class="team-info">
          <div class="row"><p>Tên đội : </p>Manchester United</div>
          <div class="row"><p>Quận/Huyện : </p>Go vap</div>
          <div class="row"><p>Tỉnh/Thành phố :</p>Tp.HCM</div>
          <div class="row"><p>Đội trưởng : </p>Le Van Luyen</div>
          <div class="row"><p>Tổng số cầu thủ : </p>20</div>
          <div class="row"><p>Điểm số : </p>100</div>
        </div>
      </div>
      <div class="right">
        <div class="team-stat">
          <div class="box">
            <div class="img-container">
              <img src="../../assets/score.png">
            </div>
              <p>Điểm</p>
              <span>19</span>
          </div>
          <div class="box">
              <div class="img-container">
                <img src="../../assets/versus.png">
              </div>
                <p>Số trận đã đá</p>
                <span>100</span>
          </div>
          <div class="box">
              <div class="img-container">
                <img src="../../assets/winner.png">
              </div>
                <p>Số trận thắng</p>
                <span>10</span>
          </div>
          <div class="box">
              <div class="img-container">
                <img src="../../assets/goal.png">
              </div>
                <p>Tổng số bàn thắng</p>
                <span>50</span>
          </div>    
        </div>
        <div class="win-rate-container">
          <p>Tỷ lệ thắng (%)</p>
          <div class="chart">
              <canvas id="pieChart"></canvas>
          </div>
        </div>
      </div>
    </div>
</div>  