<app-menu [listMenu] = "listMenu" [selectedMenu] = "selectedMenu"></app-menu>
<div class="container">
  <div class="wrapper">
    <div class="form" *ngIf="!success">
      <div class="header" style="background:url('../../assets/headerbg.jpg')"> 
        <div class="overlay"></div>
        <h1>Đổi mật khẩu</h1>
      </div>
      <form (ngSubmit) = "onSubmit()" #changePasswordForm="ngForm">
        <div class="row">
          <p>Mật khẩu cũ: </p>
          <input type="password" 
            required minlength="3"
            [(ngModel)]="oldPassword" name="op" 
            #op="ngModel">
          <div *ngIf = "op.invalid && (!op.pristine || !np.pristine || !cfnp.pristine)">
            <span *ngIf = "op.errors.required"> Hãy nhập mật khẩu cũ</span>
            <span *ngIf = "op.errors.minlength"> Mật khẩu ít nhất 3 kí tự</span>
          </div>
        </div>
        <div class="row">
          <p>Mật khẩu mới: </p>
          <input type="password" 
          required
          minlength="3"
          [(ngModel)]="newPassword" name="np" 
          #np="ngModel">
          <div *ngIf = "!np.valid && (!np.pristine || !op.pristine || !cfnp.pristine)">
            <span *ngIf = "np.errors.required"> Hãy nhập mật khẩu mới</span>
            <span *ngIf = "np.errors.minlength"> Mật khẩu ít nhất 3 kí tự</span>
          </div>
        </div>
        <div class="row">
          <p>Xác nhận mật khẩu: </p>
          <input type="password"
          required
          [(ngModel)]="cfNewPassword" name="cfnp"
          #cfnp="ngModel"
          >
          <div *ngIf = "!cfnp.valid && (!cfnp.pristine || !op.pristine || !np.pristine)">
            <span *ngIf = "cfnp.errors.required"> Hãy nhập lại mật khẩu mới</span>
          </div>
          <div>
            <span *ngIf = "cfnp.valid && cfNewPassword != newPassword"> Mật khẩu xác nhận không trùng khớp</span>
          </div>
        </div>
        <div class="row">
          <button type="submit" [disabled]="!changePasswordForm.form.valid || cfNewPassword != newPassword">Xác nhận</button>
          <button type="submit" (click)="changePasswordForm.reset()">Nhập lại</button>  
        </div>
      </form>
    </div>
  </div>
</div>
