.container{
    margin-left: 8%;

    form{
        padding: 1.5em;
    }
    .row{
        padding:0.5em 1em;
        p{
            display: inline-block;
            width: 15%;
        }
        input{
            padding: 5px 10px;
            font-size: 1.2em;
        }
        
        div{
            display: inline-block;
            padding-left: 5%;
            color: red;
        }
        button{
            padding: 5px 10px;
            font-size: 1.1em;
            font-family: sans-serif;
            color: #333;
            margin-right: 11px;
            width: 100px;
            cursor: pointer;
        }
    }
}