.container{
    margin-left: 8%;
    .header{
        display: flex;
        height: 70px;
        flex-flow: column;
        justify-content: space-around;
        position: relative;
        z-index: 1;
        h1{
            padding-left: 1em;
            font-size: 1.7em;
            z-index: 2;
            color: white;
        }
        .overlay{ 
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            z-index: 2;
            content: " ";
            background: #333333bf;
        }
    }
    form{
        padding: 1.5em;
    }
    .row{
        padding:0.5em 1em;
        p{
            display: inline-block;
            width: 15%;
        }
        input{
            padding: 5px 10px;
            font-size: 1.2em;
        }
        
        div{
            display: inline-block;
            padding-left: 5%;
            color: red;
        }
        button{
            padding: 5px 10px;
            font-size: 1.1em;
            font-family: sans-serif;
            color: #333;
            margin-right: 11px;
            width: 100px;
            cursor: pointer;
        }
    }
}