:host,.container{
    width: 100%;
    min-height: 100%;
    position: relative;
    overflow-x: hidden;
    .content{
        position: absolute;
        min-height: 100%;
        width: 92%;
        padding-left: 8%;
        .wrapper{
            width: 100%;
            height: 100%;
            display: flex;
            justify-content: space-around;
            align-content: center;
            flex-flow: column;
            align-items: center;
            flex-wrap: wrap;
            min-height: 100vh;
            background: #f9f9f9;
            h1{
                font-size: 3em;
            }
            .box{
                width: 70%;
                height: 40vh;
                border-top: 1px solid #333;
                border-bottom: 1px solid #333;
                display: flex;
                flex-flow: row;
                justify-content: space-around;
                padding: 1%;
                padding-top: 1%;
                margin-bottom:200px;
                .item{
                    height: 100%;
                    width: 27%;
                    display: flex;
                    flex-flow: column;
                    transition: 0.5s;
                    cursor: pointer;
                    justify-content: space-around;
                    .img-container{
                        width: 100%;
                        height: 75%;
                        img{
                            width: 100%;
                            height: 100%;
                        }
                        p{
                            margin-top: 10px;
                            font-size: 1.5em;
                            color: black;
                            flex-grow: 1;
                            text-align: center;
                            background: transparent;
                            border: 1.5px solid #333;
                            padding: 2%;
                        }
                        p:hover{
                            background:#888;
                            color:white;
                            border: none;
                        }
                    }
                    button{
                        width: 70%;
                        align-self: center;
                    }
                }
                .item:hover{
                }
            }
        }
    }
}