<div class="container">
    <app-menu [listMenu] = "listMenu" [selectedMenu] = "selectedMenu"></app-menu>
    <div class="content">
        <div class="wrapper">
            <div class="box">
                <div class="item" *ngFor="let team of listTeams" (click)="viewTeam(team);">
                    <div class="img-container">
                        <img src="{{team.ImgUrl}}">
                        <p>{{team.Fullname}}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>