<div class="container">
    <app-menu [listMenu] = "listMenu" [selectedMenu] = "selectedMenu"></app-menu>
    <div class="content">
        <loading-spinner *ngIf="showSpinner"></loading-spinner>
        <div class="wrapper" *ngIf="!showSpinner">
            <h1>Danh sách đội bóng</h1>
            <div class="box">
                <div class="item" (click)="viewTeam(firstTeam);" *ngIf="firstTeam">
                    <div class="img-container">
                        <img src="{{firstTeam.ImgUrl}}">
                    </div>
                </div>
                <div class="item" (click)="addTeam();" *ngIf="!firstTeam">
                    <div class="img-container">
                        <img src="../../assets/plus.png">
                    </div>
                    <button mat-raised-button>Add team</button>
                </div>
                <div class="item" (click)="viewTeam(secondTeam);" *ngIf="secondTeam">
                    <div class="img-container">
                        <img src="{{secondTeam.ImgUrl}}">
                    </div>
                </div>
                <div class="item" (click)="addTeam();" *ngIf="!secondTeam">
                    <div class="img-container">
                        <img src="../../assets/plus.png">
                    </div>
                    <button mat-raised-button>Add team</button>
                </div>
                <div class="item" (click)="viewTeam(thirdTeam);" *ngIf="thirdTeam">
                    <div class="img-container">
                        <img src="{{thirdTeam.ImgUrl}}">
                    </div>
                </div>
                <div class="item" (click)="addTeam();" *ngIf="!thirdTeam">
                    <div class="img-container">
                        <img src="../../assets/plus.png">
                    </div>
                    <button mat-raised-button>Add team</button>
                </div>
            </div>
        </div>
    </div>
</div>