<div class="container">
  <app-menu [listMenu] = "listMenu" [selectedMenu] = "selectedMenu"></app-menu>
  <div class="content">
    <div class="wrapper">
        <loading-spinner *ngIf="showListFriendSpinner"></loading-spinner>
        <div class="left" *ngIf="!showListFriendSpinner">
            <div class="row">
              <div class="logo">
                <div class="img-container">
                  <img src="../../../assets/smalllogo.png" (click)= "test()">
                </div>
                <p>Mời</p>
              </div>
              <div class="search-box">
                <input type="text" placeholder="Bộ lọc danh sách bạn">
              </div>
            </div>
            <div class="list-player">
              <p>Danh sách cầu thủ</p>
              <div class="item" *ngFor="let player of listFriends">
                <p>{{ player.Fullname }}</p>
                <span class="{{ player.status == 1 ? 'online' : 'offline' }}"></span> 
                <div class="img-container" *ngIf="!player.Invited" (click)="invite(player);">
                    <img src="../../../assets/invite.png">
                </div>
              </div>
            </div>
          </div>
    </div>
    <div class="right">
      <div class="top">
        <div class="row">
          <div class="img-container">
            <img src="../../../assets/smalllogo.png">
          </div>
          <p>Thông tin đội</p>
        </div>
        <div class="details">
          <div class="logo">
            <div class="img-container">
              <img src="{{ team.ImgUrl }}">
            </div>
          </div>
          <div class="team-info">
            <div class="row">
              <div class="item">
                <p>Tên đội: </p>
                <span *ngIf="!showEditFullName">{{ newName }}</span>
                <ng-container *ngIf = "showEditFullName">
                    <input type="text" value="{{team.Fullname}}" [(ngModel)]="newName">
                    <div class="img-container"  (click)="changeName();">
                      <img src="../../../assets/accept.png">
                    </div>
                    <div class="img-container" (click)="cancelEditFullName();">
                      <img src="../../../assets/cancel.png">
                    </div>
                </ng-container>
                <div class="img-container" (click)="editFullName();" *ngIf="!showEditFullName">
                  <img src="../../../assets/pencil.png">
                </div>
              </div>  
            </div>
            <div class="row">
              <div class="item">
                <p>Mã đội: </p>
                <span>{{ team.TeamCode }}</span>
              </div>
            </div>
            <div class="row">
              <div class="item">
                <p>Ngày tạo</p>
                <span>{{ team.created_at }}</span>
              </div>
            </div>
            <div class="row">
              <div class="item">
                <p>Thành phố: </p>
                <span *ngIf="!showEditCity">{{ team.City }}</span>
                <ng-container *ngIf = "showEditCity">
                    <select #city>
                      <option value="TP.Hồ Chí Minh">TP.Hồ Chí Minh</option>
                      <option value="Hà Nội">Hà Nội</option>
                    </select>
                    <div class="img-container" (click)="changeCity(city.value);">
                      <img src="../../../assets/accept.png">
                    </div>
                    <div class="img-container" (click)="cancelEditCity();">
                      <img src="../../../assets/cancel.png">
                    </div>
                </ng-container>
                <div class="img-container" (click)="editCity();" *ngIf="!showEditCity">
                  <img src="../../../assets/pencil.png">
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="bottom">
        <div class="list">
          <loading-spinner *ngIf="showListInvitationSpinner"></loading-spinner>
          <div class="title">
            <p>Danh sách mời</p>
            <span>Các lời mời hiện có: {{ countInvitation }}</span>
          </div>
          <div class="list-container" *ngIf="!showListInvitationSpinner">
            <div class="item-invi" *ngFor="let invi of listInvitations">
              <div class="img-section">
                <div class="img-container">
                  <img src="{{ invi.user.ImgUrl }}" alt="">
                </div>
              </div>
              <div class="info-section">
                <div class="name">
                  <span>{{ invi.user.Fullname }}</span>
                  <div class="img-container" (click)="cancelInvited(invi);">
                    <img src="{{ imgX }}">
                  </div>
                </div>
                <div class="date">
                  <p>05/12/2015</p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="list">
          <div class="title">
            <p>Đội hình hiện tại</p>
            <span>Số thành viên: {{ countMember }}</span>
          </div>
          <loading-spinner *ngIf="showListMemberSpinner"></loading-spinner>
          <div class="list-container" *ngIf="!showListMemberSpinner">
            <div class="item" *ngFor="let member of teamMembers">
              <div class="name">
                <div class="logo-container">
                  <img src="{{ member.imgRoleUrl }}">
                </div>
                <div class="info">
                    <span>{{ member.user.Fullname }}</span>
                    <p>{{ member.position.PositionName }}</p>
                </div>
                <div *ngIf="member.role_id != 3" class="img-container" (click)="deleteMember(member)">
                  <img src="{{ imgX }}">
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>