:host{
    width: 100%;
    height: 100%;
    .container{
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: row;
        background:#e2e1de;
        .map{
            flex-grow: 1;
            margin-right: 5px;
            margin-left: 8%;
            background: #f1f1f1;
            agm-map{
                height: 100%;
            }
        }
        .top-teams{
            max-width: 22%;
            max-height: 100%;
            padding: 1.1%;
            font-family: 'Open Sans', sans-serif;
            background: white;
            overflow: hidden;
            ul{
                max-height: 100%;
                border-radius: 15px;
                border: 3px solid #b1a6a6;
                background: white;
                box-shadow: 4px 4px 6px rgba(10,16,20,.24), 0 0 2px rgba(10,16,20,.12);
                padding: 15px;
                li{       
                    border-bottom: 1px solid #333;
                    list-style: none;
                    display: flex;
                    flex-flow: row;
                    height: 10% ;
                    padding: 5px;
                    .img-container{
                        width: 25%;
                        a{
                            display: block;
                            img{
                                width: 100%;
                                height: 100%;
                            }
                        }
                    }
                    .name-container{
                        display: flex;
                        flex-direction: column;
                        flex-grow: 2;
                        padding-left: 9%;
                        padding-top: 2%;
                        color: #333;
                        p{
                            font-size: 1.1em;
                        }
                        span{
                            display: inline-flex;
                        }
                        span::before{
                            content: " ";
                            width: 10px;
                            height: 10px;
                            border-radius: 50%;
                            align-self: center;
                            margin-right: 5px;
                        }
                        span.online::before{
                            background:green;
                        }
                        span.offline::before{
                            background: #333;
                        }
                    }
                }
                li:last-child{
                    border-bottom: none!important;
                    padding-bottom: 0px!important;
                }
                li:first-child{
                    padding-top: 0px!important;
                }
            }
        }
    }
}