<div class="container">
    <app-menu [listMenu]= "listMenu" [selectedMenu] = "selectedMenu"></app-menu>
    <div class="map">
        <agm-map [longitude] = "longitude" [latitude] = "latitude" (mapClick) = "locationChosen($event)">
            <agm-marker [longitude] = "longitude" [latitude] = "latitude">

            </agm-marker>
        </agm-map>
    </div>
    <div class="top-teams">
            <ul class="list-team">
                <li *ngFor ="let team of listTopTeams">
                <div class="img-container">
                    <a href="#">
                        <img src="{{ team.imgUrl }}">
                    </a>            
                </div>
                <div class="name-container">
                    <p id="name">
                        {{ team.name }}
                    </p>
                    <span class="{{ team.status ? 'online' : 'offline' }}">{{ team.status ? 'Online' : 'Offline' }}</span>
                </div>
                </li>
            </ul>
    </div>
</div>