<app-menu [listMenu] = "listMenu" [selectedMenu] = "selectedMenu"></app-menu>
<div class="container">
    <div class="content">
        <loading-spinner *ngIf="showSpinner"></loading-spinner>
        <h1>Chỉ số cầu thủ</h1>
        <div class="row">
            <p>Chọn vị trí: </p>
            <ul>
                <li [ngClass] = "isMPView ? 'active' : ''" (click) ="changePositionView('MP')"  *ngIf="showMainPosition">{{ mainPosition.PositionName }}</li>
                <li [ngClass] = "!isMPView ? 'active' : ''" (click) ="changePositionView('EP')" *ngIf="showExtraPosition">{{ extraPosition.PositionName }}</li>
            </ul>
        </div>    
        <div class="list-power">
            <div class="item-container" *ngIf="isMPView">
                <div *ngFor="let power of listMainPowers" class="item">
                    <input type="checkbox" [checked]="power.ViewStatus" (change)="changeStatusPower(power);">
                        <p>{{power.PowerName}}</p>
                    <input type="number" [disabled]="!power.ViewStatus" [(ngModel)]="power.self_point" value="{{ power.self_point }}" min="0" max="100" step="5">
                </div>
            </div>
            <div class="item-container" *ngIf="!isMPView">
                <div *ngFor="let power of listExtraPowers" class="item" >
                    <input type="checkbox" [checked]="power.ViewStatus" (change)="changeStatusPower(power);">
                        <p>{{power.PowerName}}</p>
                    <input type="number" [disabled]="!power.ViewStatus" [(ngModel)]="power.self_point" value="{{ power.self_point }}" min="0" max="100" step="5">
                </div>
            </div>
        </div>
        <div class="actions">
            <button class="abortBtn" (click)="abort();">Hủy</button>
            <button class="saveBtn" (click)="save();">Lưu</button>
        </div>
    </div>
</div>